<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  </head>
  <body ng-app ="puppylove">
   <sp-navbar></sp-navbar> 
    <div ui-view></div>
   <a href="#/about"> about</a>
    <a href="#/"> home</a>
     <a href="#/profile"> profile</a>
    <div id="discover-header">
      <span>Puppy Love</span>
    </div>
    <p>Welcome to <%= title %></p>
    <div layout="row" ng-if="searchStr">
      <div flex></div>

   <form> 
Enter your first name <input type="text" name="name">
Enter your last name<input type="text" name="name">
Enter your age <input type="number" name="birthday">
Enter your location  <input type="text" name="location">
Favorite Breed? <input type="text" name="favoritebreed">
Number of Dogs? <input type="number" name="dognumber">
   </form>
      <div flex></div>

 <script>
  window.intercomSettings = {
    app_id: "rx6kt278"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rx6kt278';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>     
  </body>
</html>
