extends layout

block content
  h1= title
  p Welcome to #{title}
  p Find your puppies match today!

  a(class='button', href='www.google.com') Puppy
  h2 Find Your Puppy
   input(type = "text", placeholder= "PUPPY!")
   block content

    a(class='button', href='/signup') Sign Up Here!
