extends layout

block content
  title= title
  h1= title
  p Welcome to #{title}
  p Find your puppies match today!

  a(class='button', href='chat') Puppy
  h2 Find Your Puppy's Match Today!
   input(type = "text", placeholder= "find a PUPPY!")