<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          Puppy Love
        </article>
        <article class="tile is-child">
          <!-- Any content you want here -->
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          <!-- Any content you want here -->
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child">
       Puppy
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child">
      Owner
    </article>
  </div>
</div>